src/main/mule/implementation/get-hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="hello-implementation" doc:id="81d77aa1-03be-46e7-a613-aa9252eb0c71" >
		<flow-ref doc:name="save-input-subflow" doc:id="d548ae9e-3065-4b0a-8707-f4a0e7f72171" name="save-input-subflow"/>
<logger level="INFO" doc:name="log-request-received" doc:id="b23aed93-3360-49d3-97d5-bcdf2d00793e" message="#[%dw 2.0&#10;output application/json skipNullOn=&quot;everywhere&quot;&#10;&#10;&#10;var logPayload = payload default &quot;&quot;&#10;var status = &quot;ok&quot;&#10;var msg = &quot;Request Received for Hello flow&quot;&#10;&#10;---&#10;CustomLogMapper::logger(&#10;	{&#10;		correlationId: correlationId,&#10;		app: app,&#10;		mule: mule,&#10;		status: status,&#10;		message: msg,&#10;		(payload: logPayload) if (p('log.level') == &quot;DEBUG&quot;),		 &#10;		env: p('mule.env')&#10;	}&#10;)]" />			
		<flow-ref doc:name="request-transformation" doc:id="58eaaec8-1711-42d7-9a73-32696d170748" name="request-transformation" />
		<flow-ref doc:name="process-request" doc:id="12351798-b6a0-49d4-ada7-a519302d80e4" name="process-request" />
		<flow-ref doc:name="response-transformation" doc:id="a2ad5ead-8aa4-4907-88f6-ae42f2557fab" name="response-transformation"/>
<logger level="INFO" doc:name="log-response-received" doc:id="731d55b9-0bb7-49dd-a145-c7e2d3c0af84" message="#[%dw 2.0&#10;output application/json skipNullOn=&quot;everywhere&quot;&#10;&#10;&#10;var logPayload = payload default &quot;&quot;&#10;var status = &quot;ok&quot;&#10;var msg = &quot;Response Received for Hello Flow&quot;&#10;&#10;---&#10;CustomLogMapper::logger(&#10;	{&#10;		correlationId: correlationId,&#10;		app: app,&#10;		mule: mule,&#10;		status: status,&#10;		message: msg,&#10;		(payload: logPayload) if (p('log.level') == &quot;DEBUG&quot;),		 &#10;		env: p('mule.env')&#10;	}&#10;)]" />
		<error-handler ref="Global_Error_Handler" />			
	</flow>
	<sub-flow name="request-transformation" doc:id="320cd18d-52f2-4d84-8d3d-a50e96e6f5a2">
		<ee:transform doc:name="payload" doc:id="d47c193b-6121-4f5d-9aa9-42f6ae447f3f" >
			<ee:message >
				<ee:set-payload resource="dw/p-transform-request.dwl" />
			</ee:message>
		</ee:transform>
<logger level="INFO" doc:name="log-transformation-request" doc:id="e48cec93-6064-4058-b597-45f4e4a07cbc" message="#[%dw 2.0&#10;output application/json skipNullOn=&quot;everywhere&quot;&#10;&#10;&#10;var logPayload = payload default &quot;&quot;&#10;var status = &quot;ok&quot;&#10;var msg = &quot;Transformation Request Executed for Hello Flow&quot;&#10;&#10;---&#10;CustomLogMapper::logger(&#10;	{&#10;		correlationId: correlationId,&#10;		app: app,&#10;		mule: mule,&#10;		status: status,&#10;		message: msg,&#10;		(payload: logPayload) if (p('log.level') == &quot;DEBUG&quot;),		 &#10;		env: p('mule.env')&#10;	}&#10;)]" />			
	</sub-flow>
	<sub-flow name="process-request" doc:id="22a9f21f-4380-455b-99fc-a294b439a715">
		<choice doc:name="Choice" doc:id="98c8fa3d-32ae-4345-a3e8-2ff313faffc1" >
			<when expression='#[attributes.headers.mock == "false"]'>
				<http:request method="GET" doc:name="Request" doc:id="148249bb-c6c8-4918-8124-d60448205489" config-ref="HttpSystemRequestConfig" path="/mock" sendCorrelationId="ALWAYS" correlationId="#[correlationId]" responseTimeout="10000">
			<http:body><![CDATA[#[output application/json ---
{
	"test": "ok"
}]]]></http:body>
		</http:request>
			</when>
			<otherwise >
				<set-payload value='#[output application/json&#10;---&#10;{&#10;	"message": "ok"&#10;}]' doc:name="outputPayload" doc:id="a52cc9b3-320f-45ce-95b9-932d47828082" />
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="response-transformation" doc:id="94e84cc3-bcfd-4bb0-b8fa-9999d042b392" >
		<ee:transform doc:name="payload" doc:id="fde65bf0-8bdb-48db-a55f-c8e89c9c9adf">
			<ee:message>
				<ee:set-payload resource="dw/p-transform-response.dwl" />
			</ee:message>
		</ee:transform>
<logger level="INFO" doc:name="log-transformation-request" doc:id="3194fb00-dce6-4577-abe4-635b7159f206" message="#[%dw 2.0&#10;output application/json skipNullOn=&quot;everywhere&quot;&#10;&#10;&#10;var logPayload = payload default &quot;&quot;&#10;var status = &quot;ok&quot;&#10;var msg = &quot;Transformation Response Executed for Hello Flow&quot;&#10;&#10;---&#10;CustomLogMapper::logger(&#10;	{&#10;		correlationId: correlationId,&#10;		app: app,&#10;		mule: mule,&#10;		status: status,&#10;		message: msg,&#10;		(payload: logPayload) if (p('log.level') == &quot;DEBUG&quot;),		 &#10;		env: p('mule.env')&#10;	}&#10;)]" />			
	</sub-flow>
</mule>
